<form [formGroup]="primengTableService.form">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group border-bottom">
        <input type="text" class="form-control no-border" placeholder="{{ 'Search' | translate }}"
          formControlName="search" (input)="table.reset()">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group border-bottom-0 mb-0">
        <ng-select [multiple]="true" placeholder="{{ 'Select Status' | translate }}" [items]="statusItems"
          bindValue="id" bindLabel="name" formControlName="status" (change)="table.reset()"></ng-select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group border-bottom-0 mb-0">
        <app-date-range-picker (dateSelected)="primengTableService.form.patchValue({date_range: $event});table.reset()">
        </app-date-range-picker>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group border-bottom-0 mb-0">
        <ng-select placeholder="{{ 'Select Brand' | translate }}" [items]="brands" [multiple]="true" bindValue="id"
          bindLabel="display_label" formControlName="brand" (change)="brandSelected();table.reset()"></ng-select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group border-bottom-0 mb-0">
        <ng-select [multiple]="true" placeholder="{{ 'Select Location' | translate }}" [items]="locations"
          bindValue="id" bindLabel="display_label" formControlName="location" (change)="table.reset()"></ng-select>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group border-bottom-0 mb-0">
        <ng-select [multiple]="false" placeholder="{{ 'Select Table' | translate }}" [items]="tableList" bindValue="id"
          bindLabel="display_label" formControlName="table_id" (change)="table.reset()"></ng-select>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group border-bottom-0 mb-0">
        <ng-select [multiple]="false" placeholder="{{ 'Ticket with' | translate }}" [items]="isTableItemList"
          bindValue="id" bindLabel="text" formControlName="is_table" (change)="table.reset()"></ng-select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group border-bottom-0 mb-0">
        <p-checkbox formControlName="is_delivery_address" binary="true" (onChange)="table.reset()"
          label="Delivery Address"></p-checkbox>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group border-bottom-0 mb-0">
        <p-checkbox formControlName="has_customer" binary="true" (onChange)="table.reset()" label="Has Customer">
        </p-checkbox>
      </div>
    </div>
  </div>
  <div class="row mb-3" *ngIf="stats">
    <div class="col-12">
      <app-stats [orderCaption]="'Tickets'" [stats]="stats"></app-stats>
    </div>
  </div>
</form>
<p-table #myTable class="p-table" [columns]="primengTableService._allColumns" [value]="primengTableService.records"
  [lazy]="true" (onLazyLoad)="primengTableService.datatable($event)" [paginator]="true"
  [rows]="primengTableService.rows" [totalRecords]="primengTableService.totalRecords"
  [loading]="primengTableService.loading" [resizableColumns]="true">
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" [style.width]="(col.width ? col.width + 'px' : '500px')"
        [class.prime-ng-table-no-display]="!col.selected || !col.display">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.sortable === true ? col.field : null"
        [class.prime-ng-table-no-display]="!col.selected || !col.display" pResizableColumn pReorderableColumn>
        {{col.header | translate}}

        <p-sortIcon *ngIf="col.sortable === true" [field]="col.field" ariaLabel="Activate to sort"
          ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
        </p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns" [class.prime-ng-table-no-display]="!col.selected || !col.display"
        [ngSwitch]="col.field" [class.text-right]="col.field === 'amount'">
        <span *ngSwitchCase="'user_name'">
          <span *ngIf="rowData.user"> {{ rowData.user.name }} </span>
        </span>
        <span *ngSwitchCase="'location.name'">
          <span *ngIf="rowData.location"> {{ rowData.location.display_label }} </span>
        </span>

        <span *ngSwitchCase="'amount'">
          <span>
            {{ rowData.amount | currency:settingService.getCurrency():settingService.getCurrencySymbol():settingService.getNumberOfDecimals() }}
          </span>
        </span>
        <span *ngSwitchCase="'delivery_charge'">
          <span>
            {{ rowData.delivery_charge | currency:settingService.getCurrency():settingService.getCurrencySymbol():settingService.getNumberOfDecimals() }}
          </span>
        </span>
        <span *ngSwitchCase="'department_charge'">
          <span *ngIf="rowData.department_charge">
            {{ rowData.department_charge.amount | currency:settingService.getCurrency():settingService.getCurrencySymbol():settingService.getNumberOfDecimals() }}
          </span>
        </span>

        <span *ngSwitchCase="'is_closed'">
          <span *ngIf="rowData.is_closed === false">Open</span>
          <span *ngIf="rowData.is_closed === true">Closed</span>
        </span>
        <span *ngSwitchDefault>
          <span> {{ rowData[col.field] }} </span>
        </span>
        <span *ngSwitchCase="'action'">
          <a class="primary" (click)="openOrder(rowData.id)"><i class="ft-edit font-medium-2 mr-1" ngbTooltip="Edit"
              container="body"></i></a>
          <a *ngIf="rowData.delivery_order_id == null" class="primary" (click)="placeOrder(rowData.id)"><i
              class="fa fa-check font-medium-2 mr-1" ngbTooltip="Place Order for delivery" container="body"></i></a>

          <a *ngIf="rowData.delivery_order_id !== null" class="primary" (click)="cancelOrder(rowData.id)"><i
              class="fa fa-times font-medium-2 mr-1" ngbTooltip="Cancel Order" container="body"></i></a>
        </span>
      </td>
    </tr>
  </ng-template>
</p-table>