<section>
  <div class="container-fluid">
    <div class="navigation">
      <div class="row align-items-center bg-dark px-2 py-3 big-pad-y-2">
        <div class="col-12">
          <div class="d-flex align-items-center">
            <a href="" class="text-white"><i class="ft-arrow-left font-large-3 big-font"></i></a>
            <h2 class=" ml-2 font-large-2 text-bold-700 text-white text-truncate big-font">Catatan untuk Product Name...
            </h2>
          </div>
        </div>

      </div>
    </div>
    <div class="product-details py-4 w-75 mx-auto big-pad-y">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="grey font-medium-5 text-bold-600 big-font-2">Tenant Name</h2>
          <h2 class="font-large-1 text-dark text-bold-700 big-font">Product Name</h2>
          <div class="form-group pt-3">
            <textarea class="form-control border-secondary border-3 rounded-0 big-font-3" name="" id="" rows="6"
              placeholder="lorem ipsum"></textarea>
          </div>
          <div class="product-actions pt-4">
            <div class="row pb-5">
              <div class="col-6 text-center">
                <button type="button"
                  class="btn btn-lg btn-block btn-secondary mb-0 text-bold-600 font-medium-5 big-font-2 big-pad"
                  style="border-radius: 0.7rem !important;">Batalkan</button>
              </div>
              <div class="col-6 text-center">
                <button
                  class="btn btn-lg btn-block text-uppercase text-bold-600 font-medium-5 text-white big-font-2 big-pad"
                  style="background: #d8b366;border-radius: 0.7rem !important;">Kirim catatan</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>