<section>
  <div class="container-fluid">
    <div class="navigation">
      <div class="row align-items-center bg-dark px-2 py-3 big-pad-y-2">
        <div class="col-10">
          <div class="d-flex align-items-center">
            <a href="" class="text-white"><i class="ft-arrow-left font-large-3 big-font"></i></a>
            <h2 class=" ml-2 font-large-2 text-bold-700 text-white text-truncate big-font">Hot Promo Deals</h2>
          </div>
        </div>
        <div class="col-2 text-center">
          <img src="../../../assets/img/logo-mob.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="category-data big-pad-y-1">
      <div class="row">
        <div class="col-9">
          <div class="row">
            <div class="col-4">
              <div class="card shadow-none overflow-hidden" style="background: transparent !important;">
                <div class="position-relative">
                  <img src="../../../assets/img/photos/01.jpg" alt="" class="card-img-top">
                  <div class="my-badge">
                    <img src="../../../assets/img/badge.png" alt="" class="img-fluid">
                    <!-- <span class="badge font-medium-1 text-bold-500 rounded-circle text-white big-font-4"
                      style="padding: 35% 2%;background: #000;">Badge</span> -->
                  </div>
                  <div class="my-logo">
                    <img src="../../../assets/img/logo-dummy.png" alt="" class="img-fluid">
                    <!-- <span class="badge font-medium-1 text-bold-500 rounded-circle text-white big-font-4"
                      style="padding: 35% 2%;background: #000;">Logo</span> -->
                  </div>
                </div>
                <div class="card-body px-1">
                  <p class="text-bold-500 font-medium-5 text-dark text-center big-font-2">Product Name <br> (Maximum 2
                    rows)
                  </p>
                  <button
                    class="btn btn-lg btn-block text-uppercase text-bold-500 font-medium-5 text-white big-font-2 big-pad"
                    style="background: #d8b366;border-radius: 0.7rem !important;">Pesan (Price here)</button>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card shadow-none overflow-hidden" style="background: transparent !important;">
                <div class="position-relative">
                  <img src="../../../assets/img/photos/01.jpg" alt="" class="card-img-top">
                  <div class="my-badge">
                    <span class="badge font-medium-1 text-bold-500 rounded-circle text-white big-font-4"
                      style="padding: 35% 2%;background: #000;">Badge</span>
                  </div>
                  <div class="my-logo">
                    <span class="badge font-medium-1 text-bold-500 rounded-circle text-white big-font-4"
                      style="padding: 35% 2%;background: #000;">Logo</span>
                  </div>
                </div>
                <div class="card-body px-1">
                  <p class="text-bold-500 font-medium-5 text-dark text-center big-font-2">Product Name <br> (Maximum 2
                    rows)
                  </p>
                  <button
                    class="btn btn-lg btn-block text-uppercase text-bold-500 font-medium-5 text-white big-font-2 big-pad"
                    style="background: #d8b366;border-radius: 0.7rem !important;">Pesan (Price here)</button>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card shadow-none overflow-hidden" style="background: transparent !important;">
                <div class="position-relative">
                  <img src="../../../assets/img/photos/01.jpg" alt="" class="card-img-top">
                  <div class="my-badge">
                    <span class="badge font-medium-1 text-bold-500 rounded-circle text-white big-font-4"
                      style="padding: 35% 2%;background: #000;">Badge</span>
                  </div>
                  <div class="my-logo">
                    <span class="badge font-medium-1 text-bold-500 rounded-circle text-white big-font-4"
                      style="padding: 35% 2%;background: #000;">Logo</span>
                  </div>
                </div>
                <div class="card-body px-1">
                  <p class="text-bold-500 font-medium-5 text-dark text-center big-font-2">Product Name <br> (Maximum 2
                    rows)
                  </p>
                  <button
                    class="btn btn-lg btn-block text-uppercase text-bold-500 font-medium-5 text-white big-font-2 big-pad"
                    style="background: #d8b366;border-radius: 0.7rem !important;">Pesan (Price here)</button>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card shadow-none overflow-hidden" style="background: transparent !important;">
                <div class="position-relative">
                  <img src="../../../assets/img/photos/01.jpg" alt="" class="card-img-top">
                  <div class="my-badge">
                    <span class="badge font-medium-1 text-bold-500 rounded-circle text-white big-font-4"
                      style="padding: 35% 2%;background: #000;">Badge</span>
                  </div>
                  <div class="my-logo">
                    <span class="badge font-medium-1 text-bold-500 rounded-circle text-white big-font-4"
                      style="padding: 35% 2%;background: #000;">Logo</span>
                  </div>
                </div>
                <div class="card-body px-1">
                  <p class="text-bold-500 font-medium-5 text-dark text-center big-font-2">Product Name <br> (Maximum 2
                    rows)
                  </p>
                  <button
                    class="btn btn-lg btn-block text-uppercase text-bold-500 font-medium-5 text-white big-font-2 big-pad"
                    style="background: #d8b366;border-radius: 0.7rem !important;">Pesan (Price here)</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card shadow-none" style="background: transparent !important;">
            <p class="text-bold-500 font-medium-5 big-font-2" style="color: #d8b366;">
              {{'Come On, Look For Food Or Tenant Menu Here'|translate}}</p>

            <div class="form-group big-pad-y-1">
              <div class="input-group mb-3 border">
                <div class="input-group-prepend">
                  <button class="btn btn-secondary text-bold-500 font-medium-5 text-white  big-font-2 border-0"
                    style="border-top-left-radius: 0.7rem !important;border-bottom-left-radius: 0.7rem !important;"
                    type="button"><i class="ft-search"></i></button>
                </div>
                <input type="text"
                  class="form-control border-0 bg-secondary  big-font-2 text-bold-500 font-medium-5 text-white "
                  placeholder="Search..." aria-label="" aria-describedby="basic-addon1"
                  style="border-top-right-radius: 0.7rem !important;border-bottom-right-radius: 0.7rem !important;">
              </div>
            </div>

            <div class="catg-filter mb-5 big-pad-y-1">
              <h3 class="font-large-1 text-bold-600 text-dark big-font-2">Filter</h3>
              <ul class="list-style">
                <li class="font-medium-3 text-bold-500 big-font-3 big-pad-y-2"><a href="" class="text-dark">Food
                    Category 1</a></li>
                <li class="font-medium-3 text-bold-500 big-font-3 big-pad-y-2"><a href="" class="text-dark">Food
                    Category 2</a></li>
                <li class="font-medium-3 text-bold-500 big-font-3 big-pad-y-2"><a href="" class="text-dark">Food
                    Category 3</a></li>
                <li class="font-medium-3 text-bold-500 big-font-3 big-pad-y-2"><a href="" class="text-dark">Food
                    Category 4</a></li>
              </ul>
            </div>

            <div class="shopping-cart">
              <button class="btn btn-lg btn-secondary text-white font-medium-3 text-bold-500 big-pad big-font-2"><i
                  class="ft-shopping-cart"></i> <span> {{'Basket'|translate}}</span> <span> (0
                  {{'Product' | translate }})</span> <span> Rp0,-</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>