<div class="brand-wrapper">
  <app-header></app-header>

  <div class="container-fluid col-xl-8 col-lg-8 home-root">
    <div class="welcome-text-container pb-3">
      <p class="text-container">
        <span class="welcome-text ">
          Added: Chicken Zucchini Noodle Salad. </span> <span class="semi_bold question-text">Would you like anything
          else?</span></p>
    </div>

    <button type="button" class="btn menu-type-card-root">
      <span class="medium menu-type-text">Breakfast</span>
      <img src="../assets/img/food-img.png" class="img-responsive menu-image"></button>
    <button type="button" class="btn menu-type-card-root">
      <span class="medium menu-type-text">Lunch/Dinner</span>
      <img src="../assets/img/food-img.png" class="img-responsive menu-image"></button>
    <button type="button" class="btn menu-type-card-root">
      <span class="medium menu-type-text">Snakes</span>
      <img src="../assets/img/food-img.png" class="img-responsive menu-image"></button>
    <button type="button" class="btn menu-type-card-root">
      <span class="medium menu-type-text">Drinks</span>
      <img src="../assets/img/food-img.png" class="img-responsive menu-image"></button>

  </div>

</div>
<!--/.brand-wrapper-->