<div class="row">
  <div class="col-md-10">
    <form [formGroup]="primengTableService.form">
      <div class="form-group border-bottom">
        <input type="text" class="form-control no-border" placeholder="{{ 'Search' | translate }}"
          formControlName="search" (input)="table.reset()">
      </div>
    </form>
  </div>
  <div class="col-md-2 text-right">
    <button class="btn btn-primary btn-sm btn-raised" routerLink="add">{{ 'Add New Table' | translate }}</button>
  </div>
</div>
<p-table #myTable class="p-table" [columns]="primengTableService._allColumns" [value]="primengTableService.records"
  [lazy]="true" (onLazyLoad)="primengTableService.datatable($event)" [paginator]="true"
  [rows]="primengTableService.rows" [totalRecords]="primengTableService.totalRecords"
  [loading]="primengTableService.loading" [resizableColumns]="true">
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" [style.width]="(col.width ? col.width + 'px' : '500px')"
        [class.prime-ng-table-no-display]="!col.selected || !col.display">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.sortable === true ? col.field : null"
        [class.prime-ng-table-no-display]="!col.selected || !col.display" pResizableColumn pReorderableColumn>
        {{col.header | translate}}

        <p-sortIcon *ngIf="col.sortable === true" [field]="col.field" ariaLabel="Activate to sort"
          ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
        </p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns" [class.prime-ng-table-no-display]="!col.selected || !col.display"
        [ngSwitch]="col.field">
        <span *ngSwitchDefault>
          <span> {{ rowData[col.field] }} </span>
        </span>

        <span *ngSwitchCase="'user_id'">
          <span *ngIf="rowData && rowData.user">{{ rowData.user.name }}</span>
        </span>

        <span *ngSwitchCase="'status'" style="cursor: pointer;">
          <span *ngIf="rowData.status === 'Vacant'" [class.text-success]="rowData.status === 'Vacant'"
            [class.text-bold-700]="rowData.status === 'Vacant'"
            (click)="updateStatus(rowData.name, rowData.location_id ,'Booked')">Vacant</span>
          <span *ngIf="rowData.status === 'Booked'" [class.text-danger]="rowData.status === 'Booked'"
            [class.text-bold-700]="rowData.status === 'Booked'"
            (click)="updateStatus(rowData.name, rowData.location_id ,'Vacant')">Booked</span>
        </span>

        <span *ngSwitchCase="'action'">
          <a class="primary" *ngIf="rowData.status == 'Booked'" (click)="clearTable(rowData)"><i
              class="fa fa-times font-medium-2 mr-1" ngbTooltip="Clear Table" container="body"></i></a>

          <!-- <a class="primary" (click)="scan(rowData)"><i class="fa fa-shopping-cart font-medium-2 mr-1"
              ngbTooltip="Order (Temporary for testing purpose only)" container="body"></i></a> -->

          <a class="primary" (click)="scanNew(rowData)"><i class="fa fa-shopping-cart font-medium-2 mr-1"
              ngbTooltip="Ordering New Design" container="body"></i></a>

          <a class="primary" *ngIf="rowData.status === 'Vacant'" (click)="generateOtp(rowData)"><i
              class="fa fa-key font-medium-2 mr-1" ngbTooltip="Generate OTP" container="body"></i></a>
          <a class="primary" routerLink="{{ 'edit/' + rowData.id }}"><i class="ft-edit font-medium-2 mr-1"
              ngbTooltip="Edit" container="body"></i></a>
          <a class="red" (click)="delete(rowData)"><i class="ft-trash font-medium-2" ngbTooltip="Delete"
              container="body"></i></a>
          <a class="primary" (click)="downloadQrCode(rowData)"><i class="ft-download font-medium-2 mr-1"
              ngbTooltip="Download" container="body"></i></a>
          <span *ngIf="rowData.tickets">
            <a *ngFor="let ticket of rowData.tickets" (click)="openTicket(ticket)">

              <i class="fa fa-first-order font-medium-2 mr-1" ngbTooltip="Click to see ticket details"
                container="body"></i></a>
          </span>

          <span *ngSwitchCase="'name'">
            <span>{{ rowData.display_label }}</span>
          </span>

          <span *ngSwitchCase="'location_name'">
            <span>{{ rowData.location_name }}</span>
          </span>

        </span>
      </td>
    </tr>
  </ng-template>
</p-table>