.my-thumbnail {
  padding: 0.25rem;
  max-width: 100%;
  height: auto;
}
@media screen and(max-width:576px) {
  .screen-below-sm {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    h2,
    i {
      font-size: 16px !important;
      margin-bottom: 0px;
    }

    img {
      height: 48px !important;
    }
  }
}
