<section style="background: #e6831e;" class="min-vh-100">
  <div class="container-fluid">
    <div class="pt-5 mx-auto text-center">
      <div class="front-data position-relative">
        <img src="../../../assets/img/kiosk-1.png" alt="" class="w-25 img-fluid">
        <div class="content">
          <h2 class="text-uppercase text-bold-600 font-large-2 big-font" style="color: #e6831e;">Thank</h2>
          <h2 class="text-uppercase text-bold-600 font-large-2 big-font" style="color: #e6831e;">you</h2>
        </div>
      </div>
      <div class="data-text py-5 mb-5">
        <h2 class="text-bold-600 font-large-2 text-white big-font">{{'Payment' | translate}}</h2>
        <h2 class="text-bold-600 font-medium-5 text-white big-font-3">
          {{'Pay At The Kiosk Via EDC Debit BCA Or Print Receipts To Be paid To The Cashier' | translate}}<br>
        </h2>
      </div>
      <div class="data-action pb-5 w-25 mx-auto">
        <button class="btn btn-lg bg-white text-uppercase btn-block big-font-2"
          style="color: #e6831e;">{{'Pay By Debit' | translate}}</button>
        <br>
        <button class="btn btn-lg bg-white text-uppercase btn-block big-font-2"
          style="color: #e6831e;">{{'Pay At The Cashier' | translate}}</button>
      </div>
    </div>
  </div>
</section>