<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-12 mb-2">
            <span>
              <i class="fa fa-users success fa-3x"></i>
            </span>
          </div>
          <div class="col-12">
            <h4 class="text-bold-600 text-dark text-uppercase">{{ 'Total Customers' | translate }}</h4>
            <h4 class="font-medium-5 mb-0 text-dark" [innerHTML]="stats.customers"></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-12 mb-2">
            <span>
              <i class="fa fa-line-chart info fa-3x"></i>
            </span>
          </div>
          <div class="col-12">
            <h4 class="text-bold-600 text-dark text-uppercase">{{ 'Total ' + orderCaption | translate }}</h4>
            <h4 class="font-medium-5 mb-0 text-dark" [innerHTML]="stats.orders"></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-12 mb-2">
            <span>
              <i class="fa fa-pie-chart primary fa-3x"></i>
            </span>
          </div>
          <div class="col-12">
            <h4 class="mr-1 text-bold-600 text-dark text-uppercase">{{ 'Total Sales' | translate }}</h4>
            <h4 class="font-medium-5 mb-0 text-dark"
              [innerHTML]="stats.sales | currency:settingService.getCurrency():settingService.getCurrencySymbol():settingService.getNumberOfDecimals()">
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>