<section>
  <div class="container-fluid">
    <div class="navigation">
      <div class="row align-items-center bg-dark px-2 py-3 big-pad-y-2">
        <div class="col-10">
          <div class="d-flex align-items-center">
            <a href="" class="text-white"><i class="ft-arrow-left font-large-3 big-font"></i></a>
            <h2 class=" ml-2 font-large-2 text-bold-700 text-white text-truncate big-font">Search</h2>
          </div>
        </div>
        <div class="col-2 text-center">
          <img src="../../../assets/img/logo-mob.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="search-box py-3 big-pad-y-1">
      <div class="row">
        <div class="col-12">
          <div class="input-group mb-3">
            <input type="text" class="form-control font-large-2 text-bold-700 border-0 big-font-2"
              style="background: transparent;" placeholder="Nasi Goreng Special">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary font-large-2 text-bold-700 border-0 big-font-2" type="button"><i
                  class="ft-x"></i></button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="category-data big-pad-y-1">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-3">
              <div class="card shadow-none overflow-hidden" style="background: transparent !important;">
                <div class="position-relative">
                  <img src="../../../assets/img/photos/01.jpg" alt="" class="card-img-top">
                  <div class="my-badge">
                    <span class="badge font-medium-1 text-bold-500 rounded-circle text-white big-font-4"
                      style="padding: 35% 2%;background: #000;">Badge</span>
                  </div>
                  <div class="my-logo">
                    <span class="badge font-medium-1 text-bold-500 rounded-circle text-white big-font-4"
                      style="padding: 35% 2%;background: #000;">Logo</span>
                  </div>
                </div>
                <div class="card-body px-1">
                  <p class="text-bold-500 font-medium-5 text-dark text-center big-font-2">Product Name <br> (Maximum 2
                    rows)
                  </p>
                  <button
                    class="btn btn-lg btn-block text-uppercase text-bold-500 font-medium-5 text-white big-font-2 big-pad"
                    style="background: #d8b366;border-radius: 0.7rem !important;">Pesan (Price here)</button>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card shadow-none overflow-hidden" style="background: transparent !important;">
                <div class="position-relative">
                  <img src="../../../assets/img/photos/01.jpg" alt="" class="card-img-top">
                  <div class="my-badge">
                    <span class="badge font-medium-1 text-bold-500 rounded-circle text-white big-font-4"
                      style="padding: 35% 2%;background: #000;">Badge</span>
                  </div>
                  <div class="my-logo">
                    <span class="badge font-medium-1 text-bold-500 rounded-circle text-white big-font-4"
                      style="padding: 35% 2%;background: #000;">Logo</span>
                  </div>
                </div>
                <div class="card-body px-1">
                  <p class="text-bold-500 font-medium-5 text-dark text-center big-font-2">Product Name <br> (Maximum 2
                    rows)
                  </p>
                  <button
                    class="btn btn-lg btn-block text-uppercase text-bold-500 font-medium-5 text-white big-font-2 big-pad"
                    style="background: #d8b366;border-radius: 0.7rem !important;">Pesan (Price here)</button>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card shadow-none overflow-hidden" style="background: transparent !important;">
                <div class="position-relative">
                  <img src="../../../assets/img/photos/01.jpg" alt="" class="card-img-top">
                  <div class="my-badge">
                    <span class="badge font-medium-1 text-bold-500 rounded-circle text-white big-font-4"
                      style="padding: 35% 2%;background: #000;">Badge</span>
                  </div>
                  <div class="my-logo">
                    <span class="badge font-medium-1 text-bold-500 rounded-circle text-white big-font-4"
                      style="padding: 35% 2%;background: #000;">Logo</span>
                  </div>
                </div>
                <div class="card-body px-1">
                  <p class="text-bold-500 font-medium-5 text-dark text-center big-font-2">Product Name <br> (Maximum 2
                    rows)
                  </p>
                  <button
                    class="btn btn-lg btn-block text-uppercase text-bold-500 font-medium-5 text-white big-font-2 big-pad"
                    style="background: #d8b366;border-radius: 0.7rem !important;">Pesan (Price here)</button>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card shadow-none overflow-hidden" style="background: transparent !important;">
                <div class="position-relative">
                  <img src="../../../assets/img/photos/01.jpg" alt="" class="card-img-top">
                  <div class="my-badge">
                    <span class="badge font-medium-1 text-bold-500 rounded-circle text-white big-font-4"
                      style="padding: 35% 2%;background: #000;">Badge</span>
                  </div>
                  <div class="my-logo">
                    <span class="badge font-medium-1 text-bold-500 rounded-circle text-white big-font-4"
                      style="padding: 35% 2%;background: #000;">Logo</span>
                  </div>
                </div>
                <div class="card-body px-1">
                  <p class="text-bold-500 font-medium-5 text-dark text-center big-font-2">Product Name <br> (Maximum 2
                    rows)
                  </p>
                  <button
                    class="btn btn-lg btn-block text-uppercase text-bold-500 font-medium-5 text-white big-font-2 big-pad"
                    style="background: #d8b366;border-radius: 0.7rem !important;">Pesan (Price here)</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>