<!-- <app-order-action (back)="backClicked()" [uuid]="uuid" [locationId]="locationId"></app-order-action>
<div class="container-fluid" >  
    <div class="row">
      <div class="col-sm-12 col-xs-12 mb-3" >
       
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title" style="font-size: 17px !important;">Spicy Level</h5>
              <div class="row mt-2">
              <div class="col-sm-6 w-mob text-center">
                <button type="button" class="btn bg-white btn-lg border pill-radius w-100">Middle Spicy</button>
                </div>
              <div class="col-sm-6 w-mob text-center">
                <button type="button" class="btn bg-white btn-lg border pill-radius w-100">Slightly Spicy</button>
              </div>
            </div>
            </div>
          </div>

          <div class="card shadow">
              <div class="card-body">
                <h5 class="card-title" style="font-size: 17px !important;">Fried Rice Add Dish</h5>
                <div class="row mt-2">
                <div class="col-sm-6 w-mob text-center">
                  <button type="button" class="btn bg-white btn-lg border pill-radius w-100">Egg <br> $1.00</button>
                  </div>
                <div class="col-sm-6 w-mob text-center">
                  <button type="button" class="btn bg-white btn-lg border pill-radius w-100">Drumstick <br> $2.55</button>
                </div>
              </div>
              </div>
            </div>
        
      </div>
      <div class="col-sm-12 text-right mb-5">
          <button type="button" class="btn bg-warning btn-lg px-5 py-2 pill-radius">Next</button>
      </div>
    </div>
 
</div> -->