<div class="page-loading loader-wrapper bg-white" *ngIf="pageLoader === true">
  <div class="loading-icon">
    <i class="fa fa-spinner spin font-medium-5"></i>
  </div>
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-12">
      <div class="card px-2 position-relative">
        <app-spinner *ngIf="pageLoader"></app-spinner>
        <div class="card-header">
          <h4 class="card-title">
            {{ "Product Details" | translate
            }}<span *ngIf="product && product.name === null">
              ({{ product.default_name }})</span>
          </h4>
        </div>
        <div class="card-body">
          <div class="">
            <form class="form" (ngSubmit)="recordId ? onUpdate() : onSubmit()" [formGroup]="form">
              <div class="form-body">
                <!-- <div class="form-group">
                  <label>{{ "Name" | translate
                    }}<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="name" placement="bottom" ngbTooltip=""
                    triggers="manual" appInvalidTooltip />
                </div> -->
                <div class="form-group">
                  <label>{{ "Brand" | translate
                    }}<span class="text-danger">*</span></label>
                  <ng-select [items]="brands" bindValue="id" bindLabel="display_label" formControlName="brand_id">
                  </ng-select>
                </div>
                <div formArrayName="product_descriptions">
                  <div class="row" *ngFor="let language of form.get('product_descriptions')['controls']; let i = index"
                    [formGroupName]="i">
                    <div class="col-md-3">
                      <div class="form-group">
                        <ng-select [items]="languages" bindLabel="language" bindValue="symbol"
                          placeholder="Select Language" formControlName="language" placement="bottom" ngbTooltip=""
                          triggers="manual" appInvalidTooltip>
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" placeholder="Enter Name" class="form-control" formControlName="name"
                          placement="bottom" ngbTooltip="" triggers="manual" appInvalidTooltip>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" placeholder="Enter Description" class="form-control"
                          formControlName="description" placement="bottom" ngbTooltip="" triggers="manual"
                          appInvalidTooltip>
                      </div>
                    </div>

                    <div class="col-md-1">
                      <button class="btn btn-danger btn-fab" type="button"
                        (click)="$event.stopPropagation();deleteLanguage(i)"><i class="fa fa-trash"></i></button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-fab"
                      (click)="addArrayForProductDescription()">{{ 'Add Description' | translate }}</button>
                  </div>
                </div>
                <!-- <div class="form-group">
                  <label>{{ 'Image' | translate }}</label>
                  <app-file-upload (click)="$event.stopPropagation()" (filesAdded)="fileAdded($event)"
                    [hideImages]="true">
                  </app-file-upload>
                </div> -->
                <div class="form-group">
                  <label>{{ "Category" | translate }}</label>
                  <ng-select [items]="categories" bindValue="id" bindLabel="display_label"
                    formControlName="category_id">
                  </ng-select>
                </div>
                <button type="button" class="btn btn-primary btn-raised" (click)="addArrayForPortion()">
                  {{ "Add Portion" | translate }}
                </button>
                <div formArrayName="portions">
                  <div class="row align-items-center" *ngFor="
                      let record of form.get('portions')['controls'];
                      let i = index
                    " [formGroupName]="i">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>{{ "Name" | translate }}</label>
                        <input type="text" placeholder="Enter Name" class="form-control" formControlName="name"
                          placement="bottom" ngbTooltip="" triggers="manual" appInvalidTooltip />
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>{{ "Price" | translate }}</label>
                        <input type="text" placeholder="Enter Price" class="form-control" formControlName="price"
                          placement="bottom" ngbTooltip="" triggers="manual" appInvalidTooltip />
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>{{ "Tag" | translate }}</label>
                        <input type="text" placeholder="Enter Tag" class="form-control" formControlName="tag"
                          placement="bottom" ngbTooltip="" triggers="manual" appInvalidTooltip />
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <button class="btn btn-danger btn-raised mb-0" type="button" (click)="deletePortion(i)">
                        <i class="ft-trash-2"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <!-- Up Sells -->
                <button type="button" class="btn btn-primary btn-raised" (click)="addArrayForUpsell()">
                  {{ "Add Up Sell" | translate }}
                </button>
                <div formArrayName="product_up_sells">
                  <div class="row align-items-center" *ngFor="
                      let record of form.get('product_up_sells')['controls'];
                      let i = index
                    " [formGroupName]="i">
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label>{{ "Product" | translate }}</label>
                        <ng-select [items]="products" bindValue="id" bindLabel="display_label"
                          formControlName="product_up_sell_id">
                        </ng-select>
                      </div>
                    </div>

                    <div class="col-sm-5">
                      <div class="form-group">
                        <label>{{ "Price" | translate }}</label>
                        <input type="text" placeholder="Enter Price" class="form-control" formControlName="price"
                          placement="bottom" ngbTooltip="" triggers="manual" appInvalidTooltip />
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <button class="btn btn-danger btn-raised mb-0" type="button" (click)="deleteUpSell(i)">
                        <i class="ft-trash-2"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <p-checkbox formControlName="is_enable" binary="true"
                      label="Is Active?">
                  </p-checkbox>
                </div>
              </div>
              <div class="form-actions right">
                <button type="button" class="btn btn-raised btn-danger" routerLink="/tenant/products">
                  <i class="ft-x"></i>
                  Cancel
                </button>
                <button type="submit" class="btn btn-raised btn-primary ml-2"
                  [disabled]="loading || form.invalid || form.value.product_descriptions.length == 0">
                  <i [class]="
                      loading ? 'fa fa-spinner fa-spin' : 'fa fa-check-square-o'
                    "></i>
                  {{ "Submit" | translate }}

                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>