<section style="background: #e6831e;" class="min-vh-100">
  <div class="container-fluid">
    <div class="pt-3 mx-auto">
      <div class="row">
        <div class="col-10">
          <h2 class="text-uppercase text-bold-600 font-large-1 text-white big-font-2">Selamat datang di Kiosk FoodLife!
          </h2>
          <h2 class="text-uppercase text-bold-700 font-large-2 text-white big-font">Pesan makananmu di sini!</h2>
        </div>
        <div class="col-2">
          <div class="text-center">
            <img src="../../../assets/img/logo-mob.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="data-card py-5 big-pad-y-1">
        <div class="row">
          <div class="col-12">
            <div class="card" style="background :#000; border-radius: 1.5rem !important;">
              <div class="card-body text-center">
                <div class="action-text py-5 big-pad-top">
                  <h2 class="font-large-3 text-bold-700 text-uppercase text-white big-font">hot promo</h2>
                </div>
                <div class="action-button pb-3 big-pad-y-1">
                  <button
                    class="btn btn-lg boredr border-white text-white text-uppercase text-bold-600 border-2 font-medium-5 big-font-2 big-pad"
                    style="border-radius: 0.7rem !important;">Mulai Memesan</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card" style="background :#000; border-radius: 1.5rem !important;">
              <div class="card-body text-center">
                <div class="action-text py-5 big-pad-top">
                  <h2 class="font-large-3 text-bold-700 text-uppercase text-white big-font">hot promo</h2>
                </div>
                <div class="action-button pb-3 big-pad-y-1">
                  <button
                    class="btn btn-lg boredr border-white text-white text-uppercase text-bold-600 border-2 font-medium-5 big-font-2 big-pad"
                    style="border-radius: 0.7rem !important;">Mulai Memesan</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>