<div class="container-fluid">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header bg-white border-bottom">
        <h4>Quantity</h4>
      </div>
      <div class="card-body w-75 mx-auto text-center mb-3">
        <div class="btn-group btn-group-sm w-75 text-center mx-auto border pill-radius px-3" role="group">
          <button class="btn" type="button"><i aria-hidden="true"
              class="fa fa-minus fa-2x font-weight-light"></i></button>
          <input aria-describedby="btnGroupAddon" aria-label=""
            class="form-control text-center ph-fs input-group-sm border-0" type="text" placeholder="0">
          <button class="btn" type="button"><i aria-hidden="true"
              class="fa fa-plus fa-2x font-weight-light"></i></button>
        </div>
        <div class="total-price my-4">
          <h4>Total: $12.00</h4>
        </div>
        <button class="btn btn-lg btn-block bg-warning pill-radius" type="button">Add to Cart</button>
      </div>
    </div>
  </div>
</div>