<div class="container-fluid py-3 bg-dark min-vh-100">
  <div class="col-12">
    <div class="row">
      <div class="table-responsive">
        <table class="kiosk-table">
          <tbody>
            <tr>
              <td>

                <table class="table table-bordered mb-0">
                  <thead>
                    <tr>
                      <th class="text-white text-bold-500 font-medium-1 align-top px-1">STALL</th>
                      <th class="green text-bold-500 font-large-1" colspan="2">COLLECTION</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="text-white font-large-1 text-bold-500 text-center">01</th>
                      <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span>
                        <span class="text-white text-bold-500 mr-1">2069
                        </span><span class="text-white text-bold-500 mr-1">
                          2045</span>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-white font-large-1 text-bold-500 text-center">01</th>
                      <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span>
                        <span class="text-white text-bold-500 mr-1">2069
                        </span><span class="text-white text-bold-500 mr-1">
                          2045</span>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </td>
              <td>

                <table class="table table-bordered mb-0">
                  <thead>
                    <tr>
                      <th class="text-white text-bold-500 font-medium-1 align-top px-1">STALL</th>
                      <th class="green text-bold-500 font-large-1" colspan="2">COLLECTION</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="text-white font-large-1 text-bold-500 text-center">01</th>
                      <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span>
                        <span class="text-white text-bold-500 mr-1">2069
                        </span><span class="text-white text-bold-500 mr-1">
                          2045</span>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-white font-large-1 text-bold-500 text-center">01</th>
                      <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span>
                        <span class="text-white text-bold-500 mr-1">2069
                        </span><span class="text-white text-bold-500 mr-1">
                          2045</span>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </td>
              <td>

                <table class="table table-bordered mb-0">
                  <thead>
                    <tr>
                      <th class="text-white text-bold-500 font-medium-1 align-top px-1">STALL</th>
                      <th class="green text-bold-500 font-large-1" colspan="2">COLLECTION</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="text-white font-large-1 text-bold-500 text-center">01</th>
                      <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span>
                        <span class="text-white text-bold-500 mr-1">2069
                        </span><span class="text-white text-bold-500 mr-1">
                          2045</span>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-white font-large-1 text-bold-500 text-center">01</th>
                      <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span>
                        <span class="text-white text-bold-500 mr-1">2069
                        </span><span class="text-white text-bold-500 mr-1">
                          2045</span>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </td>
              <td>

                <table class="table table-bordered mb-0">
                  <thead>
                    <tr>
                      <th class="text-white text-bold-500 font-medium-1 align-top px-1">STALL</th>
                      <th class="green text-bold-500 font-large-1" colspan="2">COLLECTION</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="text-white font-large-1 text-bold-500 text-center">01</th>
                      <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span>
                        <span class="text-white text-bold-500 mr-1">2069
                        </span><span class="text-white text-bold-500 mr-1">
                          2045</span>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-white font-large-1 text-bold-500 text-center">01</th>
                      <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span>
                        <span class="text-white text-bold-500 mr-1">2069
                        </span><span class="text-white text-bold-500 mr-1">
                          2045</span>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </td>
              <td>

                <table class="table table-bordered mb-0">
                  <thead>
                    <tr>
                      <th class="text-white text-bold-500 font-medium-1 align-top px-1">STALL</th>
                      <th class="green text-bold-500 font-large-1" colspan="2">COLLECTION</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="text-white font-large-1 text-bold-500 text-center">01</th>
                      <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span>
                        <span class="text-white text-bold-500 mr-1">2069
                        </span><span class="text-white text-bold-500 mr-1">
                          2045</span>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-white font-large-1 text-bold-500 text-center">01</th>
                      <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span>
                        <span class="text-white text-bold-500 mr-1">2069
                        </span><span class="text-white text-bold-500 mr-1">
                          2045</span>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12">
    <p class="font-medium-1 text-white text-bold-500 text-center">Queue number will not be called in sequence. Please
      pick up your
      order within 15 minutes when your queue number appears on the screen.</p>
  </div>
</div>



<!-- <div class="container-fluid py-3 bg-dark min-vh-100">
  <div class="col-12">
    <div class="row table-responsive kiosk-table">
      <table class="table table-bordered mb-0">
        <thead>
          <tr>
            <th class="text-white text-bold-500 font-medium-1 align-top px-1">STALL</th>
            <th class="green text-bold-500 font-large-1" colspan="2">COLLECTION</th>
            <th class="text-white text-bold-500 font-medium-1 align-top px-1">STALL</th>
            <th class="green text-bold-500 font-large-1" colspan="2">COLLECTION</th>
            <th class="text-white text-bold-500 font-medium-1 align-top px-1">STALL</th>
            <th class="green text-bold-500 font-large-1" colspan="2">COLLECTION</th>
            <th class="text-white text-bold-500 font-medium-1 align-top px-1">STALL</th>
            <th class="green text-bold-500 font-large-1" colspan="2">COLLECTION</th>
            <th class="text-white text-bold-500 font-medium-1 align-top px-1">STALL</th>
            <th class="green text-bold-500 font-large-1" colspan="2">COLLECTION</th>
            <th class="text-white text-bold-500 font-medium-1 align-top px-1">STALL</th>
            <th class="green text-bold-500 font-large-1" colspan="2">COLLECTION</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">02</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">03</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">04</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">05</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">06</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

          </tr>
          <tr>
            <th class="text-white font-large-1 text-bold-500 text-center">07</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">08</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">09</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">10</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">11</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">12</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

          </tr>
          <tr>
            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

          </tr>
          <tr>
            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

          </tr>
          <tr>
            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

          </tr>
          <tr>
            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

            <th class="text-white font-large-1 text-bold-500 text-center">01</th>
            <td class="font-medium-5" colspan="2"><span class="text-danger text-bold-500 mr-1">2079</span> <span
                class="text-white text-bold-500 mr-1">2069
              </span><span class="text-white text-bold-500 mr-1">
                2045</span>
            </td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class="col-12">
    <p class="font-medium-1 text-white text-bold-500 text-center">Queue number will not be called in sequence. Please
      pick up your
      order within 15 minutes when your queue number appears on the screen.</p>
  </div>
</div> -->