<section>
  <div class="container-fluid">
    <div class="navigation">
      <div class="row align-items-center bg-dark px-2 py-3 big-pad-y-2">
        <div class="col-10">
          <div>
            <a href="" class="text-white"><i class="ft-arrow-left font-large-3 big-font"></i></a>
          </div>
        </div>
        <div class="col-2 text-right">
          <span class="badge font-medium-5 text-bold-600 rounded-circle text-white big-font-2"
            style="padding: 20% 8%;background: #000;">Badge</span>
        </div>
      </div>
    </div>
    <div class="product-image">
      <div class="row">
        <div class="col-12 px-0 text-center">
          <img src="../../../assets/img/photos/01.jpg" alt="" class="w-100 img-fluid big-height">
        </div>
      </div>
    </div>
    <div class="product-details py-4 w-75 mx-auto big-pad-y">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="grey font-medium-5 text-bold-600 big-font-2">Tenant Name</h2>
          <h2 class="font-large-1 text-dark text-bold-700 big-font">Product Name</h2>
          <p class="pt-3 grey font-medium-3 text-bold-600 big-font-3">Place product detail and description here. Maximum
            4 rows.
            Lorem ipsum
            dolor sit amet,
            consectetur adipiscing elit. Fusce vel sapien eu erat vestibulum vestibulum sed id mi. Nullam vitae arcu
            consectetur, mollis neque eget, vestibulum purus.</p>
        </div>
      </div>
    </div>
    <div class="product-actions big-pad-bottom">
      <div class="row pb-5 align-items-center">
        <div class="col-6 text-center">
          <div class="w-50 mx-auto">
            <div class="btn-group btn-lg rounded-pill bg-secondary" role="group" aria-label="First group">
              <button type="button" class="btn text-white mb-0 px-0 text-bold-600 big-font font-medium-5"><i
                  class="fa fa-minus-circle" aria-hidden="true"></i></button>
              <input type="text"
                class="form-control text-center bg-secondary big-font border-0 px-0 w-50 text-white text-bold-600 font-medium-5">
              <button type="button" class="btn text-white mb-0 px-0 text-bold-600 big-font font-medium-5"><i
                  class="fa fa-plus-circle" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
        <div class="col-6 text-center">
          <button type="button"
            class="btn btn-secondary btn-lg rounded-pill text-uppercase text-bold-600 font-medium-5 mb-0 big-font big-pad"
            style="padding-bottom: 13px;padding-top: 13px;"><i class="ft-edit"></i>
            {{ 'Note' | translate }}</button>
        </div>
      </div>
      <div class="button w-25 mx-auto">
        <button class="btn btn-lg btn-block text-uppercase text-bold-600 font-medium-5 text-white big-font-2 big-pad"
          style="background: #d8b366;border-radius: 0.7rem !important;">order</button>
      </div>
    </div>
  </div>
</section>