<div *ngIf="tags && tags.length > 0" ngbDropdown class="d-inline-block xt-dropper" placement="bottom">
  <button [class.btn-danger]="isMandatory" [class.btn-success]="!isMandatory" class="btn btn-raised btn-sm"
    id="dropdownBasic1" ngbDropdownToggle><i class="ft-arrow-down"></i></button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="px-3 border-0 my-drop" style="width: 375px; overflow-y: scroll;
  max-height: 300px; overflow-x: hidden;">

    <div class="row border bg-light" *ngFor="let tag of tags">
      <div class="col-12 py-2 mb-2 text-center" [style.background-color]="settingService.getLabelBackgroundColor()">
        <h4 class="font-weight-bold text-capitalize mb-0" style="font-size: 15px;"
          [style.color]="settingService.getLabel2Color()">
          Product: <span *ngIf="product">{{ product.display_label }}</span> | Tag: {{ tag.display_label }} <span
            style="font-size: 13px;" *ngIf="tag.min_select && tag.min_select > 0">- <span
              [class.red]="tag.validate === false">Mandatory:
              {{ tag.min_select  }} </span>
          </span>
          <span style="font-size: 13px;" *ngIf="tag.max_select && tag.max_select > 0">-
            Maximum: {{ tag.max_select }}</span>
        </h4>
      </div>
      <div class="col-12" *ngFor="let tagItem of tag.tag_items">
        <div class="row mb-2 justify-content-between align-items-center px-1 d-flex">
          <div class="col-sm-9 w-70-mob px-0" [style.color]="settingService.getLabelColor()">
            <h5 class="text-capitalize text-bold-500 mr-1 mb-0 text-truncate" style="font-size: 13px !important;">
              <p-checkbox *ngIf="tagItem.selected_quantity > 0" [(ngModel)]="tagItem.is_selected" binary="true"
                (onChange)="validateData()"></p-checkbox>

              {{ tagItem.name }} <span style="font-size: 13px;" *ngIf="tagItem.quantity > 0">(Max:
                {{ tagItem.quantity }})</span>
            </h5>

            <h5 class="ml-3 text-bold-400" style="font-size: 13px;" *ngIf="tagItem.price && tagItem.price > 0">
              {{ tagItem.price | currency:settingService.getCurrency():settingService.getCurrencySymbol():settingService.getNumberOfDecimals()  }}
            </h5>
          </div>
          <div class="col-sm-3 px-0 w-30-mob">
            <div class="btn-group btn-group-sm text-center mx-auto" role="group" aria-label="...">
              <button type="button" class="btn text-icon" (click)="removeClicked(tagItem)"
                [disabled]="tagItem.selected_quantity === 0"><i class="fa fa-minus font-weight-light"
                  [style.color]="settingService.getAddButtonColor()" aria-hidden="true"></i></button>
              <input type="text" class="form-control text-center p-0 bg-light input-group-sm border-0 w-50"
                [attr.placeholder]="tagItem.selected_quantity" aria-label="" aria-describedby="btnGroupAddon" readonly>
              <button type="button" class="btn text-icon" (click)="addClicked(tagItem)"
                [disabled]="tagItem.quantity !== 0 && tagItem.selected_quantity === tagItem.quantity"><i
                  class="fa fa-plus font-weight-light" [style.color]="settingService.getAddButtonColor()"
                  aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- <div class="row border bg-light" *ngFor="let tag of tags">
  <div class="col-12 py-2 mb-2 text-center" [style.background-color]="settingService.getLabelBackgroundColor()">
    <h4 class="font-weight-bold text-capitalize mb-0" style="font-size: 15px;"
      [style.color]="settingService.getLabel2Color()">
      Product: <span *ngIf="product">{{ product.name }}</span> | Tag: {{ tag.name }} <span style="font-size: 13px;"
        *ngIf="tag.min_select && tag.min_select > 0">- Mandatory:
        {{ tag.min_select }} </span>
      <span style="font-size: 13px;" *ngIf="tag.max_select && tag.max_select > 0">-
        Maximum: {{ tag.max_select }}</span>
    </h4>
  </div>
  <div class="col-12" *ngFor="let tagItem of tag.tag_items">
    <div class="row justify-content-between align-items-center px-1 d-flex">
      <div class="col-sm-9 w-70-mob px-0 d-flex" [style.color]="settingService.getLabelColor()">
        <h5 class="text-capitalize text-bold-400 mr-1  text-truncate col px-0" style="font-size: 13px !important;">
          <p-checkbox [(ngModel)]="tagItem.is_selected" binary="true"></p-checkbox>

          {{ tagItem.name }} <span style="font-size: 13px;" *ngIf="tagItem.quantity > 0">(Max:
            {{ tagItem.quantity }})</span>
        </h5>
        <h5 class="text-bold-400 col-4 px-0 text-right" style="font-size: 13px;"
          *ngIf="tagItem.price && tagItem.price > 0"> -
          {{ tagItem.price | currency:settingService.getCurrency():settingService.getCurrencySymbol()  }}</h5>
      </div>
      <div class="col-sm-3 px-0 w-30-mob">
        <div class="btn-group btn-group-sm text-center mx-auto" role="group" aria-label="...">
          <button type="button" class="btn text-icon" (click)="removeClicked(tagItem)"
            [disabled]="tagItem.selected_quantity === 0"><i class="fa fa-minus font-weight-light"
              [style.color]="settingService.getAddButtonColor()" aria-hidden="true"></i></button>
          <input type="text" class="form-control text-center p-0 bg-light input-group-sm border-0"
            [attr.placeholder]="tagItem.selected_quantity" aria-label="" aria-describedby="btnGroupAddon" readonly>
          <button type="button" class="btn text-icon" (click)="addClicked(tagItem)"
            [disabled]="tagItem.quantity !== 0 && tagItem.selected_quantity === tagItem.quantity"><i
              class="fa fa-plus font-weight-light" [style.color]="settingService.getAddButtonColor()"
              aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</div> -->