.chkeckbox .chkbox { width:30px; display: inline-block; text-align: left; 
    vertical-align: top;}
.chkeckbox .txt { width:calc(100% - 40px); display: inline-block;
    text-align: left; vertical-align: top;
}
.prodhead { background: #009da0 !important; font-size: 13px; color:#ffffff !important;}
.darkred{
    color: #8a1111;
}